.top-nav__city {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-transform: uppercase;
}

.photos {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: $gutter;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;;
  padding: $gutter;
}

.nashville {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
  margin-left: 10%;
  padding: $gutter;
  background: $brand-white;
  color: $brand-black;
}

.top-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $gutter;
  top-margin: 11%;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $gutter;
}

.image {
  display: flex;
  align-items: center;
  width: 100;
  margin-left: 3%;
  padding: $gutter;
}
