.main {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.my {
  display: flex;
  justify-content: center;
}

.screenshot {
  width: 35%;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.html {
  display: flex;
  flex-direction: row;
}

.project-1 {
  display: inline-block;;
  margin-top: 15%;
}

project-2 {
  display: inline-block;
  margin-top: 5%;
}

.project-3 {
  display: inline-block;
  margin-top: 5%;
}
