.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my {
  display: flex;
  justify-content: center;
}

.project-title__html {
  margin-left: 15%;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.html {
  display: flex;
  flex-direction: row;
  margin-right: 15%;
  margin-left: 15%;
}

.project-1 {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.image-parent {
  width: 115%;
}

.screenshot {
  width: 100%;
  // @extend: %inkwell;
}

.mockup {
  display: flex;
  flex-direction: row;
  margin-right: 15%;
  margin-left: 15%;
}

.project-2 {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.shirt {
  display: flex;
  flex-direction: row;
  margin-right: 15%;
  margin-left: 15%;
}

.project-3 {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
}

.image-parent__tshirts {
  width: 170%;
}

@media screen and (min-width: 500px) and (max-width: 980px) {

}
