// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';

@import 'font-awesome';
@import 'box-sizing';
@import 'variables';
@import 'top-nav';
//@import 'cssgram';
@import 'main';
@import 'footer';
@import 'city';

body {
  margin: 0;
  font-family: sans-serif;
  max-width: 100vw;
  min-height: 100vw;
}
